/* 
	Theme: LUCID Responsive Html Template
	Author: Sanjida Shammi
	Live URL: https://sanjida123shammi.github.io/Lucid/

	Primary Color: #008ed6
	Secondary Color: #ededed

	Font Style: Noto Sans Japanese
 */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global CSS */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Noto Sans JP', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
}
p{	
    font-size: 17px;
    line-height: 32px;
	color: #999999;
}
.btn-all{
    border: 1px solid #454549;
    border-radius: 3px;
    padding: 15px 28px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btn-all:hover{
	background: #008ed6;
	border: 1px solid #008ed6;
	color: #fff;
}
h6{
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.3px;
    color: #008ed6;
}
.section-title{
	text-align: center;
}
.section-title h2{
    margin-top: 20px;
	font-size: 34px;
    font-weight: 600;
    color: #1a1a1a;
}
.section-title span{
	position: relative;
	display: block;
    margin: 2% 0 8%;
}
.section-title span::before{
	position: absolute;
	content: "";	
    background: #008ed6;
	width: 0;
    height: 3px;
    left: 46.8%;
    transition: all .3s ease-in-out;
}
.section-title span::after{
	position: absolute;
	content: "";	
    background: #008ed6;
	width: 0;
    height: 3px;
    right: 46.8%;
    transition: all .3s ease-in-out;
}
section:hover span::before,
section:hover span::after{
	width: 3%;
}
.padding-0{
	padding: 0;
}
.mr-0{
	margin-right: 0;
}
.pr-0{
	padding-right: 0;
}


/* Header Section CSS */
header{
	position: relative;
	background: url('../img/banner.png') no-repeat center;
	background-size: cover;
	min-height: 100vh;
}
.navbar{
	padding: 35px 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link{
	position: relative;
    margin-left: 30px;
    font-size: 17px;
	color: #fff;
}
.nav-link:hover{
	color: #fff;
}
.nav-link::before{
	content: "";
    position: absolute;
    border-bottom: 3px solid #008ed6;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all .3s ease-in-out;
}
.nav-link::after{
    position: absolute;
	content: "";
    border-bottom: 3px solid #008ed6;
    width: 0;
    bottom: 0;
    right: 0;
    transition: all .3s ease-in-out;
}
.nav-link:hover::before,
.nav-link:hover::after{
	width: 47%;
}
.hero-row{
	min-height: 75vh;
}
.hero-content h1{
	margin: 25px 0;
	font-size: 44px;
	color: #fff;
}
.hero-content p{
	margin-bottom: 30px;
}
.hero-content ul li{
	display: inline-block;
	list-style: none;
}
.hero-img img{
	position: absolute;
    width: 30%;
    bottom: 0;
    right: 11%;
}
.hide-dsk{
	display: none;
}


/* Feature Section CSS */
.feature-section{
	padding: 4% 0;
	border-bottom: 2px solid #ededed;
}
.feature-title{
	margin-bottom: 9%;
}
.feature-title span{
	margin: 2% auto;
}
.feature-content{
	text-align: center;
}
.feature-content .icon-border{
	border: 1px solid #e0e0e0;
    border-radius: 50%;
    margin: 0 auto;
    width: 95px;
    height: 95px;
}
.icon-border i{
	font-size: 30px;
	line-height: 95px;
	color: #008ed6;
}
.feature-content h3{
    margin: 30px 0 15px;
    font-size: 23px;
}


/* About Section CSS */
.first-about-section{
	padding: 5.5% 0 2.5%;
}
.about-img img, .iPhone-image{
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.about-img img:hover, .iPhone-image:hover{
	transform: scale(1.1, 1.1);
}
.about-title{
	margin-top: 3%;
	text-align: left;
}
.about-title span{
	margin: 4% 0 8%;
	text-align: right;
}
.about-title span::before{
	left: 0;
}
.about-title span::after{
	right: 89.6%;
}
.first-about-section:hover span::before, .second-about-section:hover span::before,
.first-about-section:hover span::after, .second-about-section:hover span::after{
	width: 5%;
}
.about-content p{
	margin: 0 0 20px;
	padding-right: 15px;
}
.about-content ul li{
	list-style: none;
	margin-bottom: 1.5%;
}
.about-content ul li .fa-solid{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
	color: #008ed6;
}
.about-content ul li h5{
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
}
.second-about-section{
	background: #f2f2f2;
	padding: 2.3% 0 1.5%;
}


/* Testimonial Section CSS */
.testimonial-section{
	position: relative;
	background: url('../img/slide-bg-one.png') no-repeat center;
	background-size: cover;
	padding: 4% 0;
	z-index: 1;
}
.testimonial-section::before{
	position: absolute;
	content: "";
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.testimonial-title h2{
	color: #fff;
}
.owl-theme{
	margin-top: 3%;
}
.item{
	width: 90%;
	font-weight: 300;
}
.item p, .item h5{
	color: #fff;
}
.client{
	display: flex;
}
.client-review{
	margin-bottom: 2%;
}
.client-review p{
	font-style: italic;
	font-size: 18px;
}
.client-img{
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.client-img img{
	border-radius: 70px;
}
.client-info{
	margin-left: 3%;
}
.client-info p{
    margin-top: 4%;
	line-height: 10px;
}
.client-info h5{
	font-size: 17px;
	text-transform: uppercase;
}
.owl-dots{
	margin-top: 6%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.owl-dots .owl-dot span{
	width: 8px !important;
	height: 8px !important;
	background: transparent !important;
	border: 1px solid #999999;
}
.owl-dots .owl-dot.active span{
	width: 16px !important;
	height: 16px !important;
	background: #fff !important;
	border: 1px solid #fff;
}


/* Ad Section CSS */
.ad-section{
	background: #15141a;
	padding: 3% 0 2.5%;
}
.ad-content p{
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 0.3px;
	color: #fff;
}
.ad-content p span{
	font-weight: 700;
}
.ad-btn{
	text-align: right;
}
.ad-btn ul li{
	display: inline-block;
	list-style: none;
}


/* Pricing Section CSS */
.pricing-section{
	padding: 4% 0;
}
.pricing-title span{
	margin: 3% 0 10%;
}
.price-table{
	border: 1px solid #e0e0e0;
	padding: 22px 0;
	text-align: center;
	transition: all 0.1s ease-in-out;
}
.price-table h3{
	margin-bottom: 22px;
	font-weight: 700;
	text-transform: uppercase;
    transition: all .2s ease-in-out;
}
.price{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 28px 0 20px;
}
.price h2{
	font-size: 58px;
}
.price h2 sup{
	font-size: 30px;
	font-weight: 700;
}
.price-content{
	padding: 30px;
}
.price-content span{
	color: #008ed6;
}
.btn-order{
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
    color: #008ed6;
    transition: all .2s ease-in-out;
}
.price-table:hover{
	box-shadow: 6px 8px 15px #999;
}
.price-table:hover h3{
	color: #008ed6;
}
.price-table:hover .price, .price-table:hover .price p,
.price-table:hover .btn-order{
	background: #008ed6;
	color: #fff;
}
.price-table:hover .btn-order{
	border: 1px solid #008ed6;
}


/* Contact Section CSS */
.contact-section{
	background: #ededed;
	padding: 4% 0 20%;
}
.contact-info{
	text-align: center;
}
.icon-box i{
	margin-bottom: 10%;
	font-size: 42px;
	color: #008ed6;
    transition: all .4s ease-in-out;
}
.contact-info p{
	margin-bottom: 0;
    line-height: 30px;
}
.contact-info .location{
	padding: 0 93px;
}
.contact-info:hover .icon-box i{
	transform: scale(1.2, 1.2);
	color: #005581;
}
.form-box{
	position: absolute;
	background: #15141a;
	border-radius: 3px;
	margin-top: 3%;
	padding: 3.3% 4%;
	z-index: 1;
}
.form-box form .form-control{
	background: transparent;
    border: 1px solid #444348;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    padding: 10px 15px;
    color: #999999;
}
.form-box form textarea{
	height: 100%;
}
.form-box form input::placeholder, 
.form-box form textarea::placeholder{
	color: #444348;
}
.form-box form input[type='submit']{
	background: #008ed6;
	border: 1px solid #008ed6;
    border-radius: 3px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
	float: right;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.form-box form input[type='submit']:hover{
	background: #005581;
	border: 1px solid #005581;
}
.map-section{
	position: relative;
}
.map-section iframe{
	display: block;
	width: 100%;
}


/* Footer Section CSS */
footer{
	background: #15141a;
	padding: 2.5% 0 2%;
	text-align: center;
}
.social-media ul li{
	display: inline-block;
	list-style: none;
}
.social-media ul li a i{
    margin: 0 15px;
	font-size: 25px;
    color: #444348;
    transition: all 0.3s ease-in-out;
}
.social-media ul li:hover a i{
	color: #008ed6;
}
footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: #444348;
}